In [1]:
numbers = [0, 10, 20, 30, 40, 50]
numbers

[0, 10, 20, 30, 40, 50]

In [2]:
type(numbers)

list

In [3]:
fruits = ['apple', 'banana', 'chelly']
fruits

['apple', 'banana', 'chelly']

In [4]:
numbers_fruits = [10, 'apple', 20, 'banana', 30]
numbers_fruits

[10, 'apple', 20, 'banana', 30]

In [5]:
empty=[]
empty

[]

In [6]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

In [7]:
abcd = ['a', 'b', 'c', 'd']
abcd[2] = 'hello'
abcd

['a', 'b', 'hello', 'd']

In [8]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [9]:
abcd = ['a', 'b', 'c', 'd']
abcd[0:4:2]

['a', 'c']

In [10]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:3] = ['x', 'y', 'z']
abcd

['a', 'x', 'y', 'z', 'd']

In [11]:
def remove_evenindex(ln):
    return ln[1::2]

In [12]:
print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

In [13]:
lns = [[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

In [14]:
lns[1][0]

10

In [15]:
lns[2]

['a', 'b', 'c']

In [16]:
lns2 = [lns, ['x', 1, [11, 12, 13]], ['y', [100, 120, 140]] ]
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 12, 13]],
 ['y', [100, 120, 140]]]

In [17]:
lns2[0]

[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

In [18]:
numbers = [0, 10, 20, 30, 40, 50]
len(numbers)

6

In [19]:
def count_words(str_engsentence):
    list_str1 = str_engsentence.split()
    return len(list_str1)

In [20]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True

In [21]:
numbers = [0, 10, 20, 30, 40, 50]
numbers + ['a', 'b', 'c']

[0, 10, 20, 30, 40, 50, 'a', 'b', 'c']

In [22]:
numbers*3

[0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50]

In [23]:
zero10 = [0] * 10
zero10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
10 in numbers

True

> `a1 == 1 or a1 == 3 or a1 == 7:`

is even to 

> `a1 in [1,3,7]:`

In [25]:
a1 = 1
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 3
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 5
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])

True True
True True
False False

In [26]:
10 not in numbers

False

In [27]:
11 not in numbers

True

In [28]:
numbers = [0, 10, 20, 30, 40, 50]
numbers.index(20)

2

In [29]:
all20 = [20]*3
all20.count(20) # 指定した要素のリスト内の数

3

In [30]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()

In [32]:
numbers

[10, 20, 30, 40, 50, 60]

In [33]:
chracters = ['e', 'd', 'a', 'c', 'f', 'b']
chracters .sort()
chracters

['a', 'b', 'c', 'd', 'e', 'f']

In [34]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort(reverse = True)
numbers

[60, 50, 40, 30, 20, 10]

In [35]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)

[10, 20, 30, 40, 50, 60]

In [36]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
sorted(characters )

['a', 'b', 'c', 'd', 'e', 'f']

In [37]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers, reverse=True)

[60, 50, 40, 30, 20, 10]

In [38]:
lns = [[20, 5], [10, 30], [40, 20], [30, 10]]
lns.sort()
lns

[[10, 30], [20, 5], [30, 10], [40, 20]]

In [39]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()
print('sortメソッドの実行後の元のリスト:', numbers)
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)
print('sorted関数の実行後の元のリスト:', numbers)

sortメソッドの実行後の元のリスト: [10, 20, 30, 40, 50, 60]
sorted関数の実行後の元のリスト: [30, 50, 10, 20, 40, 60]

In [42]:
numbers = [30, 50, 10, 20, 40, 60]
numbers1 = numbers.sort()
print('sortメソッドの返値:', numbers1)
numbers = [30, 50, 10, 20, 40, 60]
numbers2 = sorted(numbers)
print('sorted関数の返値:', numbers2)

sortメソッドの返値: None
sorted関数の返値: [10, 20, 30, 40, 50, 60]

In [43]:
numbers = [10, 20, 30, 40, 50]
numbers.append(100)
numbers

[10, 20, 30, 40, 50, 100]

In [44]:
numbers1 = [10, -10, 20, 30, -20, 40, -30]
positives = [] # 空のリストを作成する
positives.append(numbers1[0])
positives.append(numbers1[2])
positives.append(numbers1[3])
positives.append(numbers1[5])
positives

[10, 20, 30, 40]

In [45]:
numbers = [10, 20, 30, 40, 50]
numbers.extend([200, 300, 400, 200]) # numbers += [200, 300, 400, 200] と同じ
numbers

[10, 20, 30, 40, 50, 200, 300, 400, 200]

In [47]:
numbers = [10, 20, 30, 40, 50]
numbers.insert(1, 1000)
numbers

[10, 1000, 20, 30, 40, 50]

In [48]:
numbers = [10, 20, 30, 40, 20]
numbers.remove(30) # 指定した要素を削除
numbers

[10, 20, 40, 20]

In [49]:
numbers.remove(20) # 指定した要素が複数個リストに含まれる場合、一番最初の要素を削除
numbers

[10, 40, 20]

In [50]:
numbers.remove(100) # リストに含まれない値を指定するとエラー

ValueError: list.remove(x): x not in list

In [51]:
numbers = [10, 20, 20, 30, 20, 40]
print(numbers.pop(3))
print(numbers)

30
[10, 20, 20, 20, 40]

In [52]:
ln = [10, 20, 30, 20, 40]
print(ln.pop())
print(ln)

40
[10, 20, 30, 20]

In [54]:
numbers = [10, 20, 30, 40, 50]
del(numbers[2])
numbers

[10, 20, 40, 50]

In [55]:
numbers = [10, 20, 30, 40, 50]
del(numbers[2:4])
numbers

[10, 20, 50]

In [56]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.reverse()
characters

['b', 'f', 'c', 'a', 'd', 'e']

In [57]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del(numbers[1:3])
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

In [58]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[50, 40, 10]

In [59]:
x = 3
y = 5
point = (x, y)

In [60]:
point

(3, 5)

In [61]:
type(point)

tuple

In [62]:
numbers3 = (1, 2, 3)
numbers3

(1, 2, 3)

In [64]:
numbers3 = 1,2,3
numbers3

(1, 2, 3)

In [65]:
onlyone = (1,)
onlyone

(1,)

In [67]:
onlyone = (1)
onlyone

1

In [69]:
empty = ()
empty

()

In [70]:
numbers3 = (1, 2, 3)
numbers3[1] # インデックスの指定による値の取得

2

In [71]:
len(numbers3) # lenはタプルを構成する要素の数

3

In [72]:
numbers3[1:3] # スライス

(2, 3)

In [73]:
numbers3 = (1, 2, 3)
numbers3[1] = 5

TypeError: 'tuple' object does not support item assignment

In [74]:
numbers3 = (1, 2, 3)
list(numbers3)

[1, 2, 3]

In [75]:
numbers2 = [1, 2]
tuple(numbers2)

(1, 2)

In [80]:
def reverse_totuple(ln):
    ln.reverse()
    return tuple(ln)

In [81]:
print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

In [82]:
numbers = [0, 10, 20, 30, 40]
[a, b, c, d, e] = numbers
b

10

In [83]:
a, b, c, d, e = numbers
b

10

In [84]:
a, b, c, d, e = 'hello'
d

'l'

In [85]:
numbers3 = (1, 2, 3)
(x,y,z) = numbers3
y

2

In [86]:
x,y,z = numbers3
print(y)
(x,y,z) = (1, 2, 3)
print(y)
x,y,z = (1, 2, 3)
print(y)
(x,y,z) = 1, 2, 3
print(y)
x,y,z = 1, 2, 3
print(y)

2
2
2
2
2

In [87]:
x = 'apple'
y = 'pen'
x, y = y, x
print(x, y) #w = x; x = y; y = w と同じ結果が得られる

pen apple

In [89]:
print([1, 2, 3] == [1, 2, 3])
print([1, 2] == [1, 2, 3])

True
False

In [90]:
print((1, 2, 3) == (1, 2, 3))
print((1, 2) == (1, 2, 3))

True
False

In [91]:
print([1, 2, 3] != [1, 2, 3])
print([1, 2] != [1, 2, 3])

False
True

In [92]:
print((1, 2, 3) != (1, 2, 3))
print((1, 2) != (1, 2, 3))

False
True

In [93]:
print([1, 2, 3] <= [1, 2, 3])
print([1, 2, 3] < [1, 2, 3])
print([1, 2, 3] < [1, 2, 4])
print([1, 2] < [1, 2, 3])

True
False
True
True

In [94]:
print((1, 2, 3) <= (1, 2, 3))
print((1, 2, 3) < (1, 2, 3))
print((1, 2, 3) < (1, 2, 4))
print((1, 2) < (1, 2, 3))

True
False
True
True

In [95]:
ls = [0,1,2]

for value in ls:
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

In [96]:
for value in [0,1,2]:
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

In [98]:
for value in  [0,1,2]:
print('For loop:', value)

IndentationError: expected an indented block (<ipython-input-98-774a845550fc>, line 2)

In [100]:
for value in  [0,1,2]:
    print('During for loop:', value)
    print('During for loop, too:', value)

During for loop: 0
During for loop, too: 0
During for loop: 1
During for loop, too: 1
During for loop: 2
During for loop, too: 2

In [101]:
for value in [0,1,2]:
    print('During for loop:', value)
print('During for loop, too:', value) #この行のスペースの数が間違っていたがエラーは出ない

During for loop: 0
During for loop: 1
During for loop: 2
During for loop, too: 2

In [102]:
for value in (0,1,2):
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

In [103]:
numbers = [0,1,2,3,4,5]

In [104]:
squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

In [111]:
def sum_list(ln):
    sum = 0
    for x in ln:
        sum = sum + x
    return sum

In [112]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

In [114]:
str1 = 'Apple and pen'
for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N

## 練習
ATGCの4種類の文字から成る文字列 str_atgc が引数として与えられたとき、次のようなリスト list_count を返す関数 atgc_countlist を作成してください。ただし、 list_count の要素は、各塩基 bp に対して str_atgc 中の bp の出現回数と bp の名前を格納した（長さ2の）リストとします。

ヒント：文字列 'ATGC' に対する繰り返しを用いることができます。

以下のセルの ... のところを書き換えて atgc_countlist(str_atgc) を作成してください。

In [124]:
def atgc_countlist(str_atgc):
    list_count = []
    for value in 'ATGC':
        int_bpcnt = str_atgc.count(value)
        list_count.append([int_bpcnt,value])
    return list_count

In [125]:
print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [126]:
numbers = [0,1,2,3,4,5]

squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

In [127]:
squares2 = [x**2 for x in numbers]
squares2

[0, 1, 4, 9, 16, 25]

> `[x を含む式 for x in リストを返す式]`

In [128]:
[y**2 for y in numbers]

[0, 1, 4, 9, 16, 25]

## ▲オブジェクトの等価性と同一性
1-3で、Pythonにおける値はオブジェクトと総称されますと述べました。 ここでは、オブジェクトの等価性と同一性について説明します。

既に見てきたように、演算子 == を用いてオブジェクトの等価性を判定できます。

In [129]:
a = []
b = []

In [130]:
a == b

True

しかし、`[`で始まり`]`で終わる式を評価すると、 必ず新しいリスト（オブジェクト）が作られて返されるので、 a と b の値は同一ではありません。

オブジェクトの同一性は演算子 is を用いて判定できます。

In [131]:
a is b

False

In [132]:
c = [a, b]
c

[[], []]

In [133]:
c[0] is c[1]

False

In [134]:
a.append(1)
a

[1]

In [135]:
c

[[1], []]

In [136]:
a == b

False

In [137]:
d = [b, b]
d

[[], []]

In [138]:
b.append(1)
b

[1]

In [139]:
d

[[1], [1]]

In [140]:
print(a, b)
a == b

[1] [1]

True

In [141]:
print(c, d)
c == d

[[1], [1]] [[1], [1]]

True

In [142]:
a is b

False

In [143]:
c != d

False

In [144]:
a is not b

True